name: Publish Package to npmjs
on:
  push:
    tags:
      - '*.*.*'
jobs:
  deploy_js_client:
    name: Deploy
    uses: LedgerHQ/ledger-app-workflows/.github/workflows/reusable_npm_deployment.yml@v1
    if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags/')
